<div class="admin">
  <div class="row">
    <div class="tab__admin col-2">
      <div class="img__admin">
        <img src="../../logo.png" alt="" />
      </div>
      <div class="admin__line">
        <a href="/admin/statistical">Thống Kê Doanh Thu</a>

        <a href="/admin/movie">Quản Lý Phim</a>

        <a href="/admin/theatercluster">Quản Lý Cụm Rạp</a>

        <a href="/admin/theater">Quản Lý Rạp</a>

        <a href="/admin/showtime">Quản Lý Suất Chiếu</a>
      </div>
    </div>
    <div class="content__admin col-10">
      <div class="title__admin">
        <h2>Quản Lý Cụm Rạp</h2>
      </div>

      <div class="main__admin">
        <div class="button__admin">
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#Them"
          >
            Thêm
          </button>
          <div
            class="modal fade"
            id="Them"
            tabindex="-1"
            aria-labelledby="Them"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <form method="post">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3>Thêm thông tin</h3>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <!-- Form thêm thong tin -->

                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tên rạp</label>
                      <div class="col-sm-10">
                        <input
                          name="nameTheaterCluster"
                          class="form-control"
                          placeholder="Tên cụm rạp ..."
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Địa chỉ</label>
                      <div class="col-sm-10">
                        <input
                          name="address"
                          class="form-control"
                          placeholder="Địa chỉ ..."
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"
                        >Địa chỉ trên Map</label
                      >
                      <div class="col-sm-10">
                        <input
                          type="text"
                          name="addressMap"
                          class="form-control"
                          placeholder="Địa chỉ Map ..."
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"
                        >Tên cụm rạp
                      </label>
                      <div class="col-sm-10 ">

                        <select name="nameTheater">
                          <% for(let i = 0; i < theaters.length; i++) { %>
                          <option value="<%- theaters[i].name %>"><%- theaters[i].name %></option>
                          <% } %>
                        </select>
                        <!-- <input
                          name="nameTheater"
                          type="text"
                          class="form-control"
                          placeholder="Tên cụm rạp ..."
                        /> -->
                      </div>
                    </div>
                    <!-- <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Hình Ảnh</label>
                      <div class="col-sm-10">
                        <input type="file" class="form-control-file" />
                      </div>
                    </div> -->

                    <!-- ------- -->
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Đăng</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <table class="table">
          <thead class="text-center">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Tên rạp</th>
              <th scope="col">Tên cụm rạp</th>
              <th scope="col">Địa chỉ</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% for(let i = 0; i < theaterClusters.length; i++) { %>
            <tr>
              <td><%- theaterClusters[i].id %></td>
              <td><%- theaterClusters[i].name %></td>

              <!-- <td>
                <img
                  src="https://picsum.photos/200/200"
                  alt=""
                  style="width: 50px"
                />
              </td> -->
              <% for(let j = 0; j < theaters.length; j++) { %> <%
              if(theaterClusters[i].theaterClusterId == theaters[j].id ) { %>
              <td><%- theaters[j].name %></td>

              <% } %> <% } %>

              <td><%- theaterClusters[i].address %></td>
              <td>
                <button
                  class="btn btn-success thaotac"
                  data-toggle="modal"
                  data-target="#Sua<%- theaterClusters[i].id %>"
                >
                  Sửa
                </button>
                <div
                  class="modal fade"
                  id="Sua<%- theaterClusters[i].id %>"
                  tabindex="-1"
                  aria-labelledby="Sua"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg">
                    <form method="POST" action='/admin/theatercluster/update/?id=<%- theaterClusters[i].id %>'>
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3>Cập Nhật Thông Tin</h3>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-left">
                          <!-- Form thêm thong tin -->

                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label"
                              >Tên rạp</label
                            >
                            <div class="col-sm-10">
                              <input class="form-control" 
                              value="<%- theaterClusters[i].name %>" 
                              name="nameTheaterCluster"/>
                            </div>
                          </div>





                          <div class="form-group row">

                            <label class="col-sm-2 col-form-label">ID Cụm rạp</label>


                            <select name="TheaterClusterId" value="<%- theaterClusters[i].theaterClusterId %>" style="margin-left: 15px;">
                              <% for(let i = 0; i < theaters.length; i++) { %>
                              <option value="<%- theaters[i].id %>"><%- theaters[i].name %></option>
                              <% } %>
                            </select>


                            
                            <!-- <div class="col-sm-10">
                              <input class="form-control" 
                              value="<%- theaterClusters[i].theaterClusterId %>" 
                              name="TheaterClusterId"/>
                            </div> -->



                          </div>






                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label"
                              >Địa chỉ</label
                            >
                            <div class="col-sm-10">
                              <input class="form-control" 
                              value="<%- theaterClusters[i].address %>" 
                              name="address" />
                            </div>
                          </div>
                          

                          <!-- ------- -->
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">
                            Sửa
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <a class="btn btn-danger thaotac" href='/admin/theatercluster/delete/?id=<%- theaterClusters[i].id %>'>Xóa</a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
