<div class="admin">
  <div class="row">
    <div class="tab__admin col-2">
      <div class="img__admin">
        <img src="../../logo.png" alt="" />
      </div>
      <div class="admin__line">
        <a href="/admin/statistical">Thống Kê Doanh Thu</a>

        <a href="/admin/movie">Quản Lý Phim</a>

        <a href="/admin/theatercluster">Quản Lý Cụm Rạp</a>

        <a href="/admin/theater">Quản Lý Rạp</a>

        <a href="/admin/showtime">Quản Lý Suất Chiếu</a>
      </div>
    </div>
    <div class="content__admin col-10">
      <div class="title__admin">
        <h2>Quản Lý Rạp</h2>
      </div>

      <div class="main__admin">
        <div class="button__admin">
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#Them"
          >
            Thêm
          </button>
          <div
            class="modal fade"
            id="Them"
            tabindex="-1"
            aria-labelledby="Them"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <form method="post">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3>Thêm thông tin</h3>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <!-- Form thêm thong tin -->

                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tên Rạp</label>
                      <div class="col-sm-10">
                        <input
                          name="nameTheater"
                          class="form-control"
                          placeholder="Tên Rạp ..."
                        />
                      </div>
                    </div>
                    <!-- <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Tên Cụm Rạp</label>
                      <div class="col-sm-10">
                        <input
                          type="number"
                          name="theaterClusterId"
                          class="form-control"
                          placeholder="Tên Cụm Rạp ..."
                        />
                      </div>
                    </div> -->
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Loại Rạp</label>
                      <div class="col-sm-10">
                        <input
                          name="species"
                          class="form-control"
                          placeholder="Loại Rạp ..."
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"
                        >Chiều Dài Ghê</label
                      >
                      <div class="col-sm-10">
                        <input
                          name="horizontalSize"
                          class="form-control"
                          placeholder="Chiều Dài Ghê ..."
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"
                        >Chiều Rộng Ghế</label
                      >
                      <div class="col-sm-10">
                        <input
                          name="wideSide"
                          class="form-control"
                          placeholder="Chiều Rộng Ghế ..."
                        />
                      </div>
                    </div>

                    <!-- ------- -->
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Thêm</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <table class="table">
          <thead class="text-center">
            <tr>
              <th scope="col">Mã số</th>
              <th scope="col">Tên rạp</th>
              <th scope="col">Loại rạp</th>
              <th scope="col">Chiều dài ghế</th>
              <th scope="col">Chiều rộng ghế</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% for(let i = 0; i < theaters.length; i++) { %>
            <tr>
              <td><%- theaters[i].id %></td>
              <td><%- theaters[i].name %></td>
              <td><%- theaters[i].species %></td>
              <td><%- theaters[i].horizontalSize %></td>
              <td><%- theaters[i].wideSize %></td>
              <td>
                <a type="button"
                  class="btn btn-success thaotac"
                  data-toggle="modal"
                  data-target="#Sua<%- theaters[i].id %>"
                }
                >
                  Sửa
                </a>
                <div
                  class="modal fade"
                  id="Sua<%- theaters[i].id %>"
                  tabindex="-1"
                  aria-labelledby="Sua"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg">
                    <form method="POST" action='/admin/theater/update/?id=<%- theaters[i].id %>'>
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3>Cập Nhật Thông Tin</h3>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-left">
                          <!-- Form thêm thong tin -->

                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label"
                              >Tên Rạp</label
                            >
                            <div class="col-sm-10">
                              <input name="nameTheater" class="form-control" value="<%- theaters[i].name %>"/>
                            </div>
                          </div>
                        
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label"
                              >Loại Rạp</label
                            >
                            <div class="col-sm-10">
                              <input class="form-control" value="<%- theaters[i].species %>" name="species"/>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label"
                              >Chiều Dài Ghê</label
                            >
                            <div class="col-sm-10">
                              <input class="form-control" value="<%- theaters[i].horizontalSize %>" name="horizontalSize"/>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label"
                              >Chiều Rộng Ghế</label
                            >
                            <div class="col-sm-10">
                              <input class="form-control" value="<%- theaters[i].wideSize %>" name="wideSize"/>
                            </div>
                          </div>

                          <!-- ------- -->
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary" >
                            Sửa
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <a class="btn btn-danger thaotac" href='/admin/theater/delete/?id=<%- theaters[i].id %>'>Xóa</a>
              </td>
            </tr>

            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
