<div
  class="booking"
  style="background-image: url(../../assets/img/backapp.jpg)"
>
  <div class="row">
    <div class="col-9">
      <div class="creen">
        <div class="text-center">
          <img src="../../assets/img/screen.png" alt="" />
        </div>
        <div class="main">
          <div class="row">
            <div class="col-1">
              <p class="text"></p>
            </div>

            <% for(let i = 1; i < 12; i++) {%>

            <div class="col-1">
              <p class="text"><%- i %></p>
            </div>

            <% } %>
          </div>
          <div class="row">
            <div class="col-1">
              <p class="textS">A</p>
            </div>

            <% for(let i = 1; i < 12; i++) { let plag = 0; %> <% for(let j = 0;
            j < AllSeat.length; j++) { %> <% if(AllSeat[j] === ("A" + i)){ plag
            = 1 %>
            <div class="col-1">
              <button
                class="ghe"
                id="A<%- i %>"
                onclick="datVe(event)"
                value="A<%- i %>"
                disabled
              >
                A<%- i %>
              </button>
            </div>
            <% } %> <% } %> <% if(plag == 0) { %>

            <div class="col-1">
              <button
                class="ghe"
                id="A<%- i %>"
                onclick="datVe(event)"
                value="A<%- i %>"
              >
                A<%- i %>
              </button>
            </div>
            <% } %> <% } %>

            <!-- <div class="col-1">
              <button class="ghe" id="A1" onclick="datVe(event)" value="A1">
                A1
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A2" onclick="datVe(event)" value="A2">
                A2
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A3" onclick="datVe(event)" value="A3">
                A3
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A4" onclick="datVe(event)" value="A4">
                A4
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A5" onclick="datVe(event)" value="A5">
                A5
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A6" onclick="datVe(event)" value="A6">
                A6
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A7" onclick="datVe(event)" value="A7">
                A7
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A8" onclick="datVe(event)" value="A8">
                A8
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A9" onclick="datVe(event)" value="A9">
                A9
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A10" onclick="datVe(event)" value="A10">
                A10
              </button>
            </div>
            <div class="col-1">
              <button class="ghe" id="A11" onclick="datVe(event)" value="A11">
                A11
              </button>
            </div> -->
          </div>
          <div class="row">
            <div class="col-1">
              <p class="textS">B</p>
            </div>
            <% for(let i = 1; i < 12; i++) { let plag = 0; %> <% for(let j = 0;
            j < AllSeat.length; j++) { %> <% if(AllSeat[j] === ("B" + i)){ plag
            = 1 %>
            <div class="col-1">
              <button
                class="ghe"
                id="B<%- i %>"
                onclick="datVe(event)"
                value="B<%- i %>"
                disabled
              >
                B<%- i %>
              </button>
            </div>
            <% } %> <% } %> <% if(plag == 0) { %>

            <div class="col-1">
              <button
                class="ghe"
                id="B<%- i %>"
                onclick="datVe(event)"
                value="B<%- i %>"
              >
                B<%- i %>
              </button>
            </div>
            <% } %> <% } %>
          </div>
          <div class="row">
            <div class="col-1">
              <p class="textS">C</p>
            </div>
            <% for(let i = 1; i < 12; i++) { let plag = 0; %> <% for(let j = 0;
            j < AllSeat.length; j++) { %> <% if(AllSeat[j] === ("C" + i)){ plag
            = 1 %>
            <div class="col-1">
              <button
                class="ghe"
                id="C<%- i %>"
                onclick="datVe(event)"
                value="C<%- i %>"
                disabled
              >
                C<%- i %>
              </button>
            </div>
            <% } %> <% } %> <% if(plag == 0) { %>

            <div class="col-1">
              <button
                class="ghe"
                id="C<%- i %>"
                onclick="datVe(event)"
                value="C<%- i %>"
              >
                C<%- i %>
              </button>
            </div>
            <% } %> <% } %>
          </div>
          <div class="row">
            <div class="col-1">
              <p class="textS">D</p>
            </div>
            <% for(let i = 1; i < 12; i++) { let plag = 0; %> <% for(let j = 0;
            j < AllSeat.length; j++) { %> <% if(AllSeat[j] === ("D" + i)){ plag
            = 1 %>
            <div class="col-1">
              <button
                class="ghe"
                id="D<%- i %>"
                onclick="datVe(event)"
                value="D<%- i %>"
                disabled
              >
                D<%- i %>
              </button>
            </div>
            <% } %> <% } %> <% if(plag == 0) { %>

            <div class="col-1">
              <button
                class="ghe"
                id="D<%- i %>"
                onclick="datVe(event)"
                value="D<%- i %>"
              >
                D<%- i %>
              </button>
            </div>
            <% } %> <% } %>
          </div>
          <div class="row">
            <div class="col-1">
              <p class="textS">E</p>
            </div>
            <% for(let i = 1; i < 12; i++) { let plag = 0; %> <% for(let j = 0;
            j < AllSeat.length; j++) { %> <% if(AllSeat[j] === ("E" + i)){ plag
            = 1 %>
            <div class="col-1">
              <button
                class="ghe"
                id="E<%- i %>"
                onclick="datVe(event)"
                value="E<%- i %>"
                disabled
              >
                E<%- i %>
              </button>
            </div>
            <% } %> <% } %> <% if(plag == 0) { %>

            <div class="col-1">
              <button
                class="ghe"
                id="E<%- i %>"
                onclick="datVe(event)"
                value="E<%- i %>"
              >
                E<%- i %>
              </button>
            </div>
            <% } %> <% } %>
          </div>
          <div class="row">
            <div class="col-1">
              <p class="textS">F</p>
            </div>
            <% for(let i = 1; i < 12; i++) { let plag = 0; %> <% for(let j = 0;
            j < AllSeat.length; j++) { %> <% if(AllSeat[j] === ("F" + i)){ plag
            = 1 %>
            <div class="col-1">
              <button
                class="ghe"
                id="F<%- i %>"
                onclick="datVe(event)"
                value="F<%- i %>"
                disabled
              >
                F<%- i %>
              </button>
            </div>
            <% } %> <% } %> <% if(plag == 0) { %>

            <div class="col-1">
              <button
                class="ghe"
                id="F<%- i %>"
                onclick="datVe(event)"
                value="F<%- i %>"
              >
                F<%- i %>
              </button>
            </div>
            <% } %> <% } %>
          </div>
          <div class="row">
            <div class="col-1">
              <p class="textS">G</p>
            </div>
            <% for(let i = 1; i < 12; i++) { let plag = 0; %> <% for(let j = 0;
            j < AllSeat.length; j++) { %> <% if(AllSeat[j] === ("G" + i)){ plag
            = 1 %>
            <div class="col-1">
              <button
                class="ghe"
                id="G<%- i %>"
                onclick="datVe(event)"
                value="G<%- i %>"
                disabled
              >
                G<%- i %>
              </button>
            </div>
            <% } %> <% } %> <% if(plag == 0) { %>

            <div class="col-1">
              <button
                class="ghe"
                id="G<%- i %>"
                onclick="datVe(event)"
                value="G<%- i %>"
              >
                G<%- i %>
              </button>
            </div>
            <% } %> <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="thongtin_datve">
        <p class="tt_tenPhim"><%- Movies.name %></p>
        <p class="tt_tenRap"><%- TheaterClusters.name %></p>
        <p class="tt_thoiGianChieu"><%- ShowTimes.start %></p>

        <hr />
        <p class="mb-1 tt_email">Email</p>
        <p class=""><%- currentUser.displayName %></p>
        <p class="mb-1 tt_sdt">Số điện thoại</p>
        <p class=""><%- currentUser.phone %></p>
        <hr />
        <form
          action="/ticket/booking?idT=<%- ShowTimes.id %>&idUser=<%- currentUser.id %>"
          method="post"
        >
          <p class="tt_datGhe">
            Ghế:
            <input
              type="text"
              class="tt_soGheDat"
              id="danhSachGhe"
              name="danhSachGhe"
              readonly="readonly"
            />
          </p>
          <p class="tt_giaVe">
            Giá:
            <input
              type="text"
              class="tt_tongGiaVe"
              id="gia"
              name="gia"
              value="0"
              readonly="readonly"
            />
            <input
              type="hidden"
              id="price"
              name="price"
              value="<%- ShowTimes.price %>"
              disabled
            />
          </p>
          <hr />
          <div class="tt_httt">
            <h4 class="tt_tithttt">Hình thức thanh toán</h4>
            <div class="form-check">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="optradio"
                  />
                  <img src="../../assets/logo/Icon-app_white-bg.png" />
                  <span>Thanh toán qua ZaloPay</span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="optradio"
                  />
                  <img src="../../assets/logo/visa.png" /><span
                    >Visa, Master</span
                  >
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="optradio"
                  />
                  <img src="../../assets/logo/atm.png" /><span
                    >Thẻ ATM nội địa</span
                  >
                </label>
              </div>
            </div>
          </div>
          <div class="btn__datve">
            <a href="/ticket/booking">
              <button type="submit" class="btn btn-success">Đặt Vé</button>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  var danhSachGhe = [];
  var gia = 0;
  var datVe = function (event) {
    let ghe = event.target.value;
    let index = danhSachGhe.findIndex((gheDD) => gheDD === ghe);

    let price = document.getElementById("price").value;

    if (index !== -1) {
      danhSachGhe.splice(index, 1);
      gia -= Number.parseInt(price);
    } else {
      danhSachGhe.push(ghe);
      gia += Number.parseInt(price);
    }
    document.querySelector("#danhSachGhe").value = danhSachGhe;
    document.querySelector("#gia").value = gia;

    let indexGheDD = danhSachGhe.findIndex((gheDD) => gheDD === ghe);
    if (indexGheDD !== -1) {
      document.querySelector(`#${ghe}`).className = "gheDangDat ghe";
    } else {
      document.querySelector(`#${ghe}`).className = "ghe";
    }
  };
</script>
