<div class="CtPhim__Intro">
  <div class="CtPhim__content row">
    <div class="col-4 d-none d-sm-block CtPhim__img">
      <!-- <img src="../../assets/img/trang-ti-1.jpg" /> -->

      <img src="/movie/picturePoster/<%- movies.id  %>" alt="" style="height: 500px;" />
    </div>
    <div class="col-8 CtPhim__Text">
      <div class="tab__left">
        <h2>
          <%= movies.name %>
        </h2>
        <div class="tab__txt">
          <p>Ngày công chiếu: <span>
              <%= movies.premiereDate %>
          </p>
          <p>Nội dung: <span><%- movies.content %></span></p>
          <p>Thời Lượng: <span>
              <%= movies.time %>
            </span> phút</p>
        </div>
        <div class="tab__button">
          <a data-autoplay="true" data-vbtype="video" href="<%- movies.trailer %>">TRAILER</a>
          <a href="#detailMovie">LIKE</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="detailMovie" id="detailMovie">
  


        <% for(let j = 0; j < theaters.length; j++) { %>

          <div class="Home__rap row">
            <div class="Home__logo col-2">
              <img src="../../assets/logo/<%- theaters[j].name %>.png" />
            </div>
            <div class="col-10">
              <div class="row">


          <% for(let k = 0; k < theaterClusters.length; k++) { %>

            <% if(theaters[j].id == theaterClusters[k].theaterClusterId) { %>

            




              <div class="col-6 rap__item">
      
                <h3><span class="BHD"><%- theaterClusters[k].name %></span></h3>
                <!-- <p>L3-Bitexco Icon 68</p> -->
      
                <% for(let i = 0; i < showTimes.length; i++) { %>
                  <% if(showTimes[i].theaterId == theaterClusters[k].theaterClusterId && showTimes[i].theaterClusterId == theaterClusters[k].id) { %>
                    
                    <%  if(showTimes[i].hour < 10) { %>
                      
                      <%  if(showTimes[i].minute < 10) { %>
      
                        <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                      
                      <% } else { %>
      
                        <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                        
                      <% } %>
                      
                    <% } else { %>
      
                      <%  if(showTimes[i].minute < 10) { %>
      
                        <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                      
                      <% } else { %>
      
                        <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                        
                      <% } %>
                    <% } %>
                    
                    
                  <% } %>
      
                <% } %>
               
              </div>





            
            <% } %>


          <% } %>

              </div>
            </div>
          </div>
          


        <% } %>









        <!-- <div class="col-6 rap__item">
          <h3><span class="BHD">BHD Star</span> - Thảo Điền</h3>
          <p>L3-Bitexco Icon 68</p>
          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 1 && showTimes[i].theaterClusterId == 2) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div>
        <div class="col-6 rap__item">
          <h3><span class="BHD">BHD Star</span> - 3/2</h3>
          <p>L3-Bitexco Icon 68</p>
          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 1 && showTimes[i].theaterClusterId == 3) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div>
        <div class="col-6 rap__item">
          <h3><span class="BHD">BHD Star</span> - Quang Trung</h3>
          <p>L3-Bitexco Icon 68</p>
          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 1 && showTimes[i].theaterClusterId == 4) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div> -->

<!--      
  <div class="Home__rap row">
    <div class="Home__logo col-2">
      <img src="../../assets/logo/cgv.png" />
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-6 rap__item">
          <h3><span class="CGV">CGV</span> - Vạn Hạnh Mail</h3>
          <p>L3-Bitexco Icon 68</p>
          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 2 && showTimes[i].theaterClusterId == 5) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div>
        <div class="col-6 rap__item">
          <h3><span class="CGV">CGV</span> - Thảo Điền</h3>
          <p>L3-Bitexco Icon 68</p>
          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 2 && showTimes[i].theaterClusterId == 6) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div>
        <div class="col-6 rap__item">
          <h3><span class="CGV">CGV</span> - 3/2</h3>
          <p>L3-Bitexco Icon 68</p>
          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 2 && showTimes[i].theaterClusterId == 7) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div>
        <div class="col-6 rap__item">
          <h3><span class="CGV">CGV</span> - Quang Trung</h3>
          <p>L3-Bitexco Icon 68</p>

          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 2 && showTimes[i].theaterClusterId == 8) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="Home__rap row">
    <div class="Home__logo col-2">
      <img src="../../assets/logo/bt.jpg" />
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-6 rap__item">
          <h3><span class="Beta">Beta Cinemas</span> - Quang Trung</h3>
          <p>L3-Bitexco Icon 68</p>
          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 3 && showTimes[i].theaterClusterId == 9) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="Home__rap row">
    <div class="Home__logo col-2">
      <img src="../../assets/logo/cinestar.png" />
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-6 rap__item">
          <h3><span class="CNS">Cinestar</span> - Hai Bà Trưng</h3>
          <p>L3-Bitexco Icon 68</p>
          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 4 && showTimes[i].theaterClusterId == 10) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div>
        <div class="col-6 rap__item">
          <h3><span class="CNS">Cinestar</span> - Quốc Thanh</h3>
          <p>L3-Bitexco Icon 68</p>
          <% for(let i = 0; i < showTimes.length; i++) { %>
            <% if(showTimes[i].theaterId == 4 && showTimes[i].theaterClusterId == 11) { %>
              
              <%  if(showTimes[i].hour < 10) { %>
                
                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>">0<%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
                
              <% } else { %>

                <%  if(showTimes[i].minute < 10) { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:0<%- showTimes[i].minute %></a>
                
                <% } else { %>

                  <a href="/ticket/?idM=<%- movies.id %>&idT=<%-showTimes[i].theaterId %>&idTC=<%-showTimes[i].theaterClusterId %>&idTime=<%- showTimes[i].showTimeId %>"><%- showTimes[i].hour %>:<%- showTimes[i].minute %></a>
                  
                <% } %>
              <% } %>
              
              
            <% } %>

          <% } %>
        </div>
      </div>
    </div>
  </div> -->
</div>


