<div
  class="Ctr__InTro"
  style="background-image: url(../../assets/img/bhd-star-background.png)"
>
  <div class="bgBlack"></div>
  <div class="Ctr__content row">
    <div class="col-12 col-md-6">
      <div class="ctr__img">
        <img src="../../assets/img/bhd-star-bitexco.png" />
      </div>
      <div class="ctr__text">
        <h2><%- TheaterClusters.name %></h2>
        <p><%- TheaterClusters.address %></p>
        <button>Mua Vé</button>
      </div>
    </div>
    <div class="col-12 col-md-6 theater__map">
      <%- TheaterClusters.addressMaps %>
    </div>
  </div>
</div>
<div class="theater__list">
  <div class="Home__rap row">
    <!-- <div class="Home__title col-2">
      <div>
        <h2>BHO Quang Trung</h2>
        <p>190 quang trung, gò vấp</p>
      </div>
    </div> -->
    <div class="col-12 row">
      <% for(let i = 0; i < Movies.length; i++) { %>
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="/movie/picturePoster/<%- Movies[i].id  %>" alt="" />
          </div>
          <div class="col-10">
            <h3><%- Movies[i].name %></h3>
            <p><%- Movies[i].time %></p>

            <% for(let j = 0; j < ShowTimes.length; j++) { %> <%
            if(ShowTimes[j].movieId == Movies[i].id) { %> <%
            if(ShowTimes[j].hour < 10) { %> <% if(ShowTimes[j].minute < 10) { %>

            <a
              href="/ticket/?idM=<%- Movies[i].id %>&idT=<%-ShowTimes[j].theaterId %>&idTC=<%-ShowTimes[j].theaterClusterId %>&idTime=<%- ShowTimes[j].showTimeId %>"
              >0<%- ShowTimes[j].hour %>:0<%- ShowTimes[j].minute %></a
            >

            <% } else { %>

            <a
              href="/ticket/?idM=<%- Movies[i].id %>&idT=<%-ShowTimes[j].theaterId %>&idTC=<%-ShowTimes[j].theaterClusterId %>&idTime=<%- ShowTimes[j].showTimeId %>"
              >0<%- ShowTimes[j].hour %>:<%- ShowTimes[j].minute %></a
            >

            <% } %> <% } else { %> <% if(ShowTimes[j].minute < 10) { %>

            <a
              href="/ticket/?idM=<%- Movies[i].id %>&idT=<%-ShowTimes[j].theaterId %>&idTC=<%-ShowTimes[j].theaterClusterId %>&idTime=<%- ShowTimes[j].showTimeId %>"
              ><%- ShowTimes[j].hour %>:0<%- ShowTimes[j].minute %></a
            >

            <% } else { %>

            <a
              href="/ticket/?idM=<%- Movies[i].id %>&idT=<%-ShowTimes[j].theaterId %>&idTC=<%-ShowTimes[j].theaterClusterId %>&idTime=<%- ShowTimes[j].showTimeId %>"
              ><%- ShowTimes[j].hour %>:<%- ShowTimes[j].minute %></a
            >

            <% } %> <% } %> <% } %> <% } %>
          </div>
        </div>
      </div>

      <% } %>
      <!-- <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Người vô hình</h3>
            <p>110 Phút</p>
            <a href="">12:00</a>
            <a href="">13:00</a>

            <a href="">17:00</a>
          </div>
        </div>
      </div>
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Bố già</h3>
            <p>110 Phút</p>
            <a href="">12:00</a>

            <a href="">14:00</a>
            <a href="">15:00</a>
            <a href="">16:00</a>
            <a href="">17:00</a>
          </div>
        </div>
      </div>
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Gái già lắm chiêu 5</h3>
            <p>110 Phút</p>
            <a href="">12:00</a>
            <a href="">13:00</a>

            <a href="">16:00</a>
            <a href="">17:00</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Home__rap row">
    <div class="Home__title col-2">
      <div>
        <h2>BHO Bitexco</h2>
        <p>227 Nguyễn Văn cừ</p>
      </div>
    </div>
    <div class="col-10 row">
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Trạng Tí</h3>
            <p>110 Phút</p>
            <a href="">12:00</a>
            <a href="">14:00</a>
            <a href="">15:00</a>
            <a href="">16:00</a>
            <a href="">17:00</a>
          </div>
        </div>
      </div>
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Trạng Sửu</h3>
            <p>110 Phút</p>
            <a href="">12:00</a>
            <a href="">13:00</a>
            <a href="">15:00</a>
            <a href="">16:00</a>
            <a href="">17:00</a>
          </div>
        </div>
      </div>
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Trạng Dần</h3>
            <p>110 Phút</p>
            <a href="">12:00</a>
            <a href="">13:00</a>
          </div>
        </div>
      </div>
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Trạng Mẹo</h3>
            <p>110 Phút</p>
            <a href="">15:00</a>
            <a href="">16:00</a>
            <a href="">17:00</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Home__rap row">
    <div class="Home__title col-2">
      <div>
        <h2>BHO Trần Hưng Đạo</h2>
        <p>12345 Trần Hưng Đạo</p>
      </div>
    </div> 
    <div class="col-10 row">
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Trạng Thìn</h3>
            <p>110 Phút</p>
            <a href="">12:00</a>
            <a href="">13:00</a>
            <a href="">14:00</a>

            <a href="">17:00</a>
          </div>
        </div>
      </div>
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Trạng Tỵ</h3>
            <p>110 Phút</p>
            <a href="">12:00</a>
            <a href="">13:00</a>
            <a href="">14:00</a>
            <a href="">16:00</a>
            <a href="">17:00</a>
          </div>
        </div>
      </div>
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Trạng Ngọ</h3>
            <p>110 Phút</p>
            <a href="">12:00</a>
            <a href="">13:00</a>
            <a href="">14:00</a>
            <a href="">15:00</a>
            <a href="">16:00</a>
          </div>
        </div>
      </div>
      <div class="col-6 rap__item">
        <div class="row">
          <div class="col-2 Home__logo">
            <img src="../../assets/img/trang-ti-1.jpg" alt="" />
          </div>
          <div class="col-10">
            <h3>Trạng Mùi</h3>
            <p>110 Phút</p>

            <a href="">13:00</a>
            <a href="">14:00</a>
            <a href="">15:00</a>
            <a href="">16:00</a>
            <a href="">17:00</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
